singularity.enabled = true
process {
  executor = 'local'
  container = '/zstor/containers/singularity/post-vcf.img'
}

executor {
    name = 'slurm'
    clusterOptions = '--no-requeue'
}

params {
  input_vcfs="test.vcf"
  publish_dir = "publish"
  subsamplerate = []
  filtersets = [
  ["minqual":30, "mingq":30, "hwe":0.0001, 'prefix':'q30-gq30-hwe']]
}

