singularity.enabled = true
process {
  executor = 'local'
  container = '/zstor/containers/singularity/post-vcf.img'
}

executor {
    name = 'slurm'
    clusterOptions = '--no-requeue'
}

params {
  input_vcfs="test.vcf"
  publish_dir = "publish"
  subsamplerates = [0.1, 0.01]
  filtersets = [
  ["minqual":30, "mingq":30, "hwe":0.0001, 'prefix':'q30-gq30-hwe'],
  ["minqual":30, "mingq":30, "hwe":0, 'prefix':'q30-gq30']]
  excludesamples = ["RTR3","BGAR1","SU1","WBT1","AMU6","GEN1","GEN2","GEN3","GEN12","GEN13","GEN14","GEN15","GEN16","GEN17","GEN18","GEN19","GEN10","GEN20","GEN21","GEN22","GEN23","GEN4","GEN5","GEN6","GEN7","GEN8","GEN9","GEN11"]
}

